.section-about {
    min-height:1300px !important;
    background-image:url(../img/about/about_background.png);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    color: $color-dark;
    &__content {
        display: flex;
        flex-direction: column;
        &--text {
            animation: moveInLeft 1s ease-out;
            max-width: 730px;
            font-size: 20px;
            line-height: 30px;
            font-weight: 300;
            position: relative;
            margin-top: 315px;

            img {
                align-self: center;
                position: absolute;
                top: -89px;
                left: -68px;
            }

            h1 {
                font-size: 60px;
                font-weight: 900;
            }
            
            p:first-of-type {
                margin-top: 92px;
                span {
                    font-weight: 900;
                }
            }
            p:nth-of-type(2) {
                margin-top: 32px;
            }

            P:nth-of-type(3) {
                margin-top: 30px;
            }
            .autograph {
                margin-top: 62px;
                font-family: 'Alex Brush', cursive;
                font-weight: 400;
                font-size: 70px;
                line-height: 48px;
                span {
                    font-size: 40px;
                    line-height: 30px;
                    display: block;
                    padding-left: 109px;
                }
            }
        }
   
    }
}

@include respond (tab-land) {
    .section-about {
        &__content {
            &--text {
                img {
                    display: none;
                }
            }
        }
    }
}
