@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }   

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }   

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }   

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

@keyframes pulse-grow {
	to {
		transform: scale(1.1);
	}
}

@keyframes wobble-horizontal {
	16.65% {
		transform: translateX(8px);
	}

	33.3% {
		transform: translateX(-6px);
	}

	49.95% {
		transform: translateX(4px);
	}

	66.6% {
		transform: translateX(-2px);
	}

	83.25% {
		transform: translateX(1px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes pop {
	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}


.leftAnimation {
    animation: moveInLeft 1s ease-out;
}

.rightAnimation {
    animation: moveInRight 1s ease-out;
}

.shakeAnimation {
    animation: shake 1s ease-out;
}

.pulse-grow {
                
    @include hideTapHighlightColor();
    @include hardwareAccel();
    @include improveAntiAlias();

    &:hover {
        animation-name: pulse-grow;
        animation-duration: .3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

.wobble-horizontal {
	display: inline-block;

	@include hideTapHighlightColor();
	@include hardwareAccel();
	@include improveAntiAlias();

	&:hover {
		animation-name: wobble-horizontal;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
	}
}

.pop {
	display: inline-block;

	@include hideTapHighlightColor();
	@include hardwareAccel();
	@include improveAntiAlias();

	&:hover {
		animation-name: pop;
		animation-duration: .3s;
		animation-timing-function: linear;
		animation-iteration-count: 1;
	}
}