.footer {
    background-image:url(../img/about/footer_background.png);
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    height: 250px;
    position: relative;
    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 95px;
    
        &--menu {
            a {
                text-decoration: none;
                color: $color-white;
                font-size: 16px;
                font-weight: 800;
                text-transform: uppercase;
                &:not(:last-child) {
                    padding-right: 43px;
                }
            }
            a:hover {
                color: $color-grey;
            }
        }
    }
    &__social {
        position: absolute;
        top: 82px;
        right: 49px;
        color: $color-white;

        &--fb {
            font-size: 25px;
            padding-left: 7px;
            a {
                i {
                    color: $color-white;
                }
            }
        }

        &--in{
            margin-top: 32px;
            margin-right: 10px;
            font-size: 30px;
            a {
                i {
                    color: $color-white;
                }
            }
        }

    }
}

@include respond (tab-land) {
    .footer {
        &__social {
            display: none;
        }
    }
}

@include respond (phone) {

	.footer {
		&__content {
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            &--menu {
                display: flex;
                flex-direction: column;
                a {
                    padding-top: 5px;
                }
            }
        }
	}
}
