.section-1 {
    background: url(../img/main/background_1.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    &__content {
        display: flex;
        color: #0a143c;
        &--text {
            animation: moveInLeft 1s ease-out;
            max-width: 800px;
            position: relative;
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-top: 300px;
            line-height: 37px;
            img {
                position: absolute;
                top: -72px;
                left: -68px;
            }
            h1 {
                font-size: 30px;
                font-weight: 900;
            span {
                display: block;
            }
            }
            h2 {
                margin-top: 28px;
                font-size: 20px;
                font-weight: 300;
                line-height: 30px;
            }
            button {
                margin-top: 36px;
                width: 160px;
                height: 60px;
                background-color: #01b3ff;
                color: #ffffff;
                border: none;
                font-size: 24px;
                font-weight: 900;
                text-transform: uppercase;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
            }
            .info {
                display: flex;
                justify-content: space-between;
                margin-top: 52px;
                &--time {
                    p:first-child {
                    color: #01b3ff;
                    font-size: 82px;
                    font-weight: 900;
                    line-height: 70px;
                    }
                    p:last-child {
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 4.7px;
                    margin-top: -3px;
                    font-size: 20px;
                    }
                }
                &--price {
                    text-transform: uppercase;
                    padding-left: 30px;
                    p:first-child {
                        font-size: 20px;
                        font-weight: 600;
                        letter-spacing: 4.8px;
                    }
                    p:last-child {
                        padding-right: 94px;
                        line-height: 60px;
                        font-size: 60px;
                        font-weight: 900;
                    }
                }
            }
        }
        &--img {
            animation: shake 1s ease-out;
            margin-top: 155px;
            margin-right: -180px;
        }
    }
}

.section-2 {
    background: url(../img/main/background_2.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #fff;
    &__content {
        display: flex;
        &--text {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 298px;
            margin-left: 55px;
            max-width: 800px;
            img {
                position: absolute;
                bottom: 230px;
                right: -19px;
            }
            h1 {
                line-height: 35px;
                font-size: 30px;
                font-weight: 900;
                // &.leftAnimation {
                //     animation: moveInLeft 5s ease-out .75s;
                // }
            }
            h2 {
                margin-top: 32px;
                font-size: 20px;
                font-weight: 300;
                line-height: 30px;
            }
   
            .u2 {
                margin-top: 14px;
                margin-bottom: -34px;
                p:first-child {
                    padding-top: 14px;
                    font-size: 94px;
                    font-weight: 300;
                    text-transform: uppercase;
                    span {
                        color: #01b3ff;
                        font-size: 94px;
                        font-weight: 600;
                        margin-right: 22px;
                    }
                }
                p:last-child {
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: 33px;
                }
            }

            button {
                padding-left: 10px;
                color: #fff;
                margin-top: 63px;
                width: 359px;
                height: 60px;
                background-color: #01b3ff;
                border: none;
                font-size: 24px;
                font-weight: 900;
                text-transform: uppercase;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
            }
        }

        &--img {
            margin-top: 180px;
            margin-left: -148px;
        }

    }
}

.section-3 {
    background: url(../img/main/background_3.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    &__content {
        display: flex;
        color: #0a143c;
        &--text {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-top: 298px;
            margin-left: 10px;
            max-width: 735px;

            .top-left {
                position: absolute;
                top: -73px;
                left: -78px;
            }

            h1 {
                font-size: 30px;
                font-weight: 900;
                line-height: 35px;
            }

            h2 {
                margin-top: 33px;
                font-size: 20px;
                font-weight: 300;
                line-height: 30px;
           
            }

            .offer {
                margin-top: 25px;
                text-transform: uppercase;
                font-size: 30px;
                p:first-child {
                    line-height: 30px;
                    font-weight: 400;
                    span {
                        color: #01b3ff;
                        font-weight: 600;
                    }
                }
                p:nth-child(2) {
                    font-weight: 600;
                }
                &__box {
                    margin-top: 43px;
                    display: flex;
                    img {
                        margin-top: -87px;
                        align-self: center;
                    }
                    &--text {
                        margin-left: 41px;
                        font-size: 24px;
                        p:nth-child(2) {
                            font-weight: 400;
                        }
                        p {
                            margin-bottom: 30px;
                        }
                        
                    }
                }
            }
        }

        &--img {
            margin-top: 155px;
            margin-right: -180px;
        }
  
    }
}

.section-4 {
    background: url(../img/main/background_4.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    &__content {
        display: flex;
        &--text {
            max-width: 800px;
            margin-top: 302px;
            margin-left: -2px;
            color: #fff;
            position: relative;
            .bottom-right {
                position: absolute;
                bottom: 210px;
                right: -121px;
            }
            h1 {
                font-size: 30px;
                font-weight: 900;
                text-transform: uppercase;
                padding-left: 72px;
            }
            .contactData {
                font-weight: 300;
                font-size: 36px;
                margin-top: 27px;
                div {
                    img, p {
                        display: inline-block;
                    }
                    &:first-child {
                        img {
                            padding-bottom: 27px;
                        }
                        p {
                            margin-left: 28px;
                            margin-top:38px;
                            line-height: 42px;
                        }
                    }
                    &:nth-child(2) {
                        margin-top: 29px;
                        p {
                            margin-left: 27px;
                            margin-top: 20px;
                        }
                    }
                    &:last-child {
                        margin-top: 47px;
                        p {
                            margin-left: 29px;
                            margin-top: 3px;
                            a {
                                color: #01b3ff;
                            }
                        }
                    }
                }

            }

            button {
                font-family: 'Montserrat', sans-serif;
                padding-left: 8px;
                color: #fff;
                margin-left: 73px;
                margin-top: 57px;
                width: 287px;
                height: 60px;
                background-color: #01b3ff;
                border: none;
                font-size: 24px;
                font-weight: 900;
                text-transform: uppercase;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }

        &--img {
            margin-top: 180px;
            margin-left: -148px;
        }

    }
}

@include respond (tab-land) {

    .section-1 {
        &__content {
            justify-content: center;
            &--text {
                margin: 240px 40px 40px 40px;
                h1 {
                    span {
                        display: inline;
                    }
                }
                img {
                    display: none;
                }
                button {
                    width: 200px;
                    // margin: 0 auto;
                }
            }
            &--img {
                display: none;
            }
        }
        .info {
            justify-content: space-between;
            // flex-direction: column
            &--price {
                margin-top: 20px;
            }
        }
    }

    .section-2 {
        &__content {
            justify-content: center;
            &--text {
                margin: 240px 40px 40px 40px;

                img {
                    display: none;
                }
                button {
                    width: auto;
                }
            }
            &--img {
                display: none;
            }

            .u2 {
                margin-top: 50px;
                p:first-child {
                    font-size: 70px;
                    span {
                        font-size: 70px;
                    }
                }
            }
            button {
                width: 400px;
            }
        }
    }

    .section-3 {
        &__content {
            justify-content: center;
            &--text {
                margin: 240px 40px 40px 40px;

                .top-left {
                    display: none;
                }
          
            }
            &--img {
                display: none;
            }

        }
    }

    .section-4 {
        &__content {
            justify-content: center;
            &--text {
                margin: 240px 40px 40px 40px;

                .bottom-right {
                    display: none;
                }
            }
            &--img {
                display: none;
            }
        }
    }

}

@include respond (phone) {
    .section-1 {
        &__content {
            &--text {
                margin: 240px auto 0 auto;
            }
            button {
                margin: 20px auto 20px auto;
                width: 100vw;
            }
        }
        .info {
            flex-direction: column;
            align-items: center;
            &--time {
                padding-top: 15px;
            }
            &--price {
                margin: 0 auto;
            }
        }
    }
    .section-2 {
        &__content {
            &--text {
                margin: 240px auto 0 auto;
            }
            .u2 {
                p:first-child {
                    font-size: 32px;
                    span {
                        font-size: 32px;
                    }
                }
            }
            button {
                width: auto;
            }
        }
    }

    .section-3 {
        &__content {
            &--text {
                margin: 240px auto 0 auto;
            }
        }
    }

    .section-4 {
        &__content {
            &--text {
                margin: 240px auto 0 auto;
                button {
                    margin: 20px auto 0 auto;
                    width: 100vw;
                }
                .contactData {
                    div {
                        display: flex;
                        flex-direction: column;
                        img {
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
}