@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 600px) { @content }; 
    }
    @if $breakpoint == tab-port {
        @media (max-width: 900px) { @content };  
    }
    @if $breakpoint == tab-land {
        @media (max-width: 1650px) { @content };  
    }
}

@mixin hideTapHighlightColor() {
	//Prevent highlight colour when element is tapped
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin hardwareAccel() {
	//Improve performance on mobile/tablet devices
	transform: translateZ(0);
}

@mixin improveAntiAlias() {
	//Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
