// COLORS
$color-dark: #0a143c;
$color-blue: #01b3ff;

$color-grey: #929292;
$color-grey-light: #d8dbe5;

$color-white: #fff;
$color-black: #000;

$colors: (
  'green': #01FF89,
  'purple': #7A5FFF,
  'black': #141414,
);